{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
    <div class="row">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>

{% endblock %}
