{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
    <p class="right-side">
        <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
    </p>
{% endblock fos_user_content %}
