
<div id="banner" class="container-fluid">
    <div class="row">
        <div class="row text-center center-block w3-margin-top 7u 12u(medium)">
            <p class=" hero-title">{{ 'trav.Find.your.next.travel.partner'|trans }}</p>
        </div>
        <div class="container text-center center-block">
            <form class="form-horizontal row">
                <div class="w3-center row center-block form-group form-group-lg has-feedback">
                    <div class=" col-lg-12 col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status" placeholder="Where would you like to go ?">
                            <span class="input-group-addon w3-red">GO</span>
                        </div>
                        <span class="center-block form-control-feedback" aria-hidden="true"></span>
                        <span id="inputGroupSuccess2Status" class="sr-only"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
