{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Rejoignez-nous {{ parent() }}{% endblock %}
{% block fos_user_content %}
<div class="container center-block">
    <h1 class="text-center text-success">Rejoignez-nous </h1>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
