{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container center-block">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
