<div class="clearfix container-fluid center-block w3-margin-64">
    <div class="row text-center center-block">
               {% if voyages is defined and voyages is not null and voyages|length>0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ dump(voyages) }}</div>

                        <table class="table">

                        </table>
                    </div>
                {% else %}
                    <p class="alert alert-success center-block">{{ 'You.dont.have.any.scheduled.travel'|trans }}</p>
                {% endif %}

        </div>
    </div>
</div>
{{ include('AppBundle::default-scripts.js.twig') }}