/*@import url("../std/font-awesome/css/font-awesome.min.css");*/
@import url('https://fonts.googleapis.com/css?family=Handlee');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em;
}

body.is-loading * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

input, select, textarea {
    font-family: 'Handlee';
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em;
}

a {
    color: #0090c5;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 800;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

h2 {
    font-size: 2.25em;
    margin: 0 0 1.1em 0;
    line-height: 1em;
}

h3 {
    font-size: 1.35em;
    margin: 0 0 1em 0;
}

b, strong {
    font-weight: 600;
    color: #444;
}

i, em {
    font-style: italic;
}

br.clear {
    clear: both;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #eee;
}

blockquote {
    border-left: solid 0.5em #eee;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table {
    margin-bottom: 2em;
}

/* Section/Article */

section, article {
    margin-bottom: 5em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
    margin-bottom: 0;
}

header {
    margin: 0 0 2em 0;
}

header h2, header h3 {
    margin: 0 0 0.25em 0;
}

header p {
    margin: 0;
}

footer {
    margin: 2.5em 0 0 0;
}

/* Travelleurs CSS */
.navbar-brand {
    padding: 2px; /* firefox bug fix */
    margin-right: 20px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px; /* firefox bug fix */
    width: auto;
}
.img-responsive{
max-width: 100%;
height: auto;
}
#trav-logo{max-width: 50px;}
.blue-travelleurs-bg{background-color: #351c75;}

#trav-header {

    font-size: 1.2em;
}

#trav-header ul li:hover a:hover, #nav ul li:hover span {
    background: #fff ;
    color: #351c75;
}

#trav-header ul li.current a {
    background: #fff;
    color: #351c75;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #ffffff ;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff ;
}