{% extends 'AppBundle::base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block banner %} {{ parent() }}{% endblock %}

{% block content %}
    <div class="row row-fluid">
        <div class="4u 12u(medium)">
            sfjqdbhgfodngkp,spgrogrg qfs fehfoizehgfio
        </div>
    </div>

{% endblock %}
