
<form class="form-horizontal form-horizontal" name="search_voyage_index" method="post" action="{{ path('trav_search_form') }}">
    <div class="container row text-center center-block">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9 w3-right-align">
                <input id="search_voyage_index_address" class="form-control input-lg js-address form-control" name="search_voyage_index[address]" required="required" placeholder="Where would you like to go ?" onfocus="geolocate()" autocomplete="off" type="text">
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 w3-left-align" style="left: 0;">
                <input class="btn btn-lg w3-red" value="GO" type="submit">
            </div>
        </div>
    </div>
    <div class="hidden">
        <input id="search_voyage_index_lat" class="js-gmaps-lat" name="search_voyage_index[lat]" type="hidden">
        <input id="search_voyage_index_lng" class="js-gmaps-lng" name="search_voyage_index[lng]" type="hidden">
        <input id="search_voyage_index_locality" class="js-gmaps-locality" name="search_voyage_index[locality]" type="hidden">
        <input id="search_voyage_index_administrative_area" class="js-gmaps-administrative_area" name="search_voyage_index[administrative_area]" type="hidden">
        <input id="search_voyage_index_country" class="js-gmaps-country" name="search_voyage_index[country]" type="hidden">
        <input id="search_voyage_index_placeId" class="js-gmaps-placeId" name="search_voyage_index[placeId]" type="hidden">
        <input id="search_voyage_index__token" name="search_voyage_index[_token]" value="nOS4XjeZUXsLqWfeSgRaeUfZQNBw-pcWTmufSSSfzCQ" type="hidden">
    </div>
</form>
