
    {{ form_start(form_search) }}
    <div class="container row text-center center-block">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9 w3-right-align">
                {{ form_widget(form_search.destination) }}
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 w3-left-align" style="left: 0;">
                <input class="btn btn-lg w3-red" type="submit" value="GO">
            </div>
        </div>

    </div>
    <div class="hidden">
        {{ form_rest(form_search) }}
    </div>